@CHARSET "ISO-8859-1";



	body
	{
		margin: 0px;
	}

  table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    
  }
  
  .addfrm td{
  padding: 5px;
  }
  
  header{
  
  	line-height: 100px;
  	text-align: center;
  	font-family:verdana;
  	font-size: 25px;
  	font-weight :bold;
  	background-color: gray;
  	color: white;
  
  }
  
  input[type='button']{
  width: 100px;
  height: 40px;
  }
  
