<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Store List Application</title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/style.css" >


</head>
<body ng-app="shopapp">

<header>

Shoping List

</header>

<center>
 <div class="title"> Add Items in Bucket </div>
 <a href="home.html"> Create List </a> | <a href="instore.html"> In Bucket </a> | <a href="compare_price.html"> Compare Price </a> | <a href="" ng-click="clearData()"> Clear Data </a> 
</center>


<div ng-controller="s2">

<table class="tblShowList" style="width: 80%; text-align: center;">
		<thead>
			<td>
				Item ID
			</td>
			<td>
				Item Name
			</td>		
			<td>
				Store Name
			</td>			
			<td>
				Item Qty.
			</td>		
			<td>
				Item Aspected Price
			</td>				
			<td>
				Aspected Total Price
			</td>	
			<td>
				In Bucket
			</td>		
		</thead>
		<tr ng-repeat="lst_shoplist in shopingListInBucker" align="center" ng-class="$index % 2 == 1 ? 'even' : 'odd'">
			<td> {{lst_shoplist.itemId}} </td>
			<td> {{lst_shoplist.itemName}} </td>
			<td> {{lst_shoplist.storeName}} </td>
			<td> {{lst_shoplist.qty}} </td>
			<td> {{lst_shoplist.aspectPrice}} </td>
			<td> {{lst_shoplist.aspectTotalPrice}} </td>
			<td> <input type="checkbox" ng-checked="lst_shoplist.inBucket" ng-click="inBucket(lst_shoplist.itemId, lst_shoplist.inBucket)"></td>			
		</tr>
	</table>

</div>

<script src="js/shopapp.js"></script>
<script src="js/shopcontrol.js"></script>

</body>
</html>